.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 0.325rem; 
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 2rem;
}

.links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: bold;
}
